*{
    margin: 0;
    padding: 0;

} 

header{

    width: 100%;
    height: 150px;
    background-color: #cc9a4e;
    background-image: linear-gradient(rgb(98, 73, 34), #d24504);
}

.encabezado p{ 
    font-size: 40px;
font-family: 'Times New Roman', Times, serif;
color: black;
text-transform: capitalize;
float: left;
margin-left: 10px;
padding: 30px;

}  

header ul li{
list-style: none;
display: inline-block;
padding: 8px;

} 

header ul  li a{

    color: aliceblue;
    text-decoration: none;
    font-size: 25px;
    margin-right: 10px;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 10px 10px 10px black;

} 

header a:hover{ color: black;
} 


.barra{
    float: right;
} 

.barra2{
float: right;
color: aliceblue;
text-decoration: none;
font-size: 20px;
margin-right: 8px;
text-transform: capitalize;
font-family: 'Times New Roman', Times, serif;



} 

.logo{
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-transform: capitalize;
    float: left;
    margin-left: 10px;
    padding: 30px;

}

main{

    height: 100vh;
    width: 100%;
    background-image: url(../Media/bustos.jpg);
    background-size: cover;
    background-position: center;


} 




.flex-container{

display: flex;
height: 450px;
flex-wrap:nowrap;
align-content: flex-start;
background-color: #f3ca71;
padding: 10px;
border: 3px solid black;


} 

.flex-container div{
background-color: #cc9a4e;
width: 100%;
margin: 10px;
text-align: center;
line-height: 75px;
font-size: 30px;
border: 2px solid #d24504;
font-size: 25px;
font-family: 'Times New Roman', Times, serif;
}

.grid-container{
display: grid;
background-color: aliceblue;
grid-template-areas: 'header header header';
grid-template-columns: auto auto auto;
grid-template-rows: 300px 300px 300px;
border: 2px solid black;
height: auto;


} 

.grid-container div{
background-color: #cc9a4e;
border: 2px solid black;
height: auto;

}

.item1 {
    grid-area: header;
    
    }




.intro{
background-color: black;
font-family: 'Times New Roman', Times, serif;
font-size: 25px;
text-align: center;
color: white;
width: 100%;
height: 100%;
background-image: linear-gradient(rgb(98, 73, 34),#d24504 );
text-shadow: 5px 5px 5px black;

} 


.cursos {
    background-image: url(../Media/flyernietzsche.jpg);
    background-size: contain;
    background-position: center;


}

.publicidad{
background-image: url(../Media/barralateral.jpg);
background-size:contain;
background-position: center;


} 


.main-contacto {
    background-image: url(../Media/bustos.jpg);
    background-size: cover; }
    .main-contacto .section-contacto {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      min-height: 90vh; }
      .main-contacto .section-contacto .section-contacto-formulario {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: white;
        background-color: black;
        padding: 30px 20px 30px 20px;
        align-items: center;
        width: 50vh; }
        .main-contacto .section-contacto .section-contacto-formulario .formulario-titulo {
          font-size: 3rem;
          padding: 10px;
          font-family: "Montserrat", sans-serif; }
        .main-contacto .section-contacto .section-contacto-formulario form {
          display: flex;
          flex-flow: column nowrap;
          padding: 15px;
          font-size: 1.5rem; }
          .main-contacto .section-contacto .section-contacto-formulario form input {
            border: 0;
            padding: 10px 10px 0px 0px;
            margin-bottom: 10px;
            border-bottom: 1px solid white;
            background-color: black;
            color: white; }
            .main-contacto .section-contacto .section-contacto-formulario form input:focus {
              outline: none;
              background-color: black;
              color: white; }
            .main-contacto .section-contacto .section-contacto-formulario form input::placeholder {
              color: white;
              font-family: "Mulish", sans-serif; }
          .main-contacto .section-contacto .section-contacto-formulario form textarea {
            margin: 15px 0px 10px 0px;
            font-family: "Mulish", sans-serif;
            border: none;
            border-bottom: 1px solid white; }
          .main-contacto .section-contacto .section-contacto-formulario form button {
            background-color: black;
            border: 1px solid white;
            font-family: "Mulish", sans-serif;
            color: white;
            margin-top: 10px;
            padding: 5px;
            text-align: center; }


            footer
            {
            
            height: 45px;
            width: 100%;
            background-color: #cc9a4e;
            background-image: linear-gradient(rgb(98, 73, 34),#d24504 );
            font-family: 'Times New Roman', Times, serif;
            color: black;
            text-shadow: 10px 10px 10px black;
            font-size: 25px;
            text-align: center;
            padding-top: 20px;
            
            } 