*{
    margin: 0;
    padding: 0;

} 



header{

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "header";
  background-image: linear-gradient( rgb(119, 7, 7),#d24504 );
  color: #d3a549;
  font-size: 30px;
  font-family: "Noto Serif Display", serif;
  text-align: center;
  width: 100%;
}

.encabezado p{ 
    font-size: 50px;
font-family: 'Times New Roman', Times, serif;
color: black;
text-transform: capitalize;
float: left;
margin-left: 10px;
padding: 30px;

}  

.encabezado-contacto {

font-size: 20px;

}

header ul li{
  list-style: none;
  display: inline-table;
  padding: 8px;
  background-color: black;
  color: orange;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;

} 

header ul  li a{

    color: aliceblue;
    text-decoration: none;
    font-size: 25px;
    margin-right: 10px;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 10px 10px 10px black;

} 

header a:hover{ color: #d24504;
} 


.navbar {
background-color: #d24504;
}

.btn {
color: #d24504;
border:2px solid #d24504
}




.barra2{
float: right;
color: aliceblue;
text-decoration: none;
font-size: 20px;
margin-right: 8px;
text-transform: capitalize;
font-family: 'Times New Roman', Times, serif;



} 

.logo{
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  text-transform: capitalize;
  float: left;
  margin-left: 10px;
  padding: 30px;

}

main{

  height: 150vh;
  width: 100%;
  background-image: url(../media/bustos.jpg);
  background-size: cover;
  background-position: cover;

}

.cursosmain {

  height: 250vh;
  width: 100%;
  background-image: url(../media/bustos.jpg);
  background-size: cover;
  background-position: center;

  
}


.main-contacto{

  height: 100vh;
  width: 100%;
  background-image: url(../media/bustos.jpg);
  background-size: cover;
  background-position: center;


}

.mainnosotros{

  height: 150vh;
  width: 100%;
  background-image: url(../media/bustos.jpg);
  background-size: cover;
  background-position: center;


}


.propuesta {

  height: 100vh;
  width: 100%;
  background-image: url(../media/bustos.jpg);
  background-size: cover;
  background-position: center;



}

/*Media Queries Main*/

@media screen and (max-width: 970px) {
  #main {
    height: 250vh;
    width: 100%;
    background-image: url(../img/bustos.jpg);
    background-size: cover;
    background-position: center;}
}

 @media screen and (max-width: 600px) {
  #main {
    height: 250vh;
    width: 100%;
    background-image: url(../img/bustos.jpg);
    background-size: cover;
    background-position: center;}
}

.cursosGrids {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "foucault" "nietzsche" "pandemia" "agamben" "platon" "preciado";
  height: 1500px;
  width: 100vw;
  justify-content: center;
  align-content: space-around;
  justify-items: center;
  column-gap: 20px;
  row-gap: 40px;     

}
 

.foucault, .nietzsche, .pandemia, .agamben, .platon, .preciado {
  display: flex;
  width: 20vw;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
  font-family: "Noto Serif Display", serif; 
  background-color: #dbb377;


}

.foucault {
  grid-area: "foucault";
  }

.nietzsche {
  grid-area: "nietzsche"; }

.pandemia {
  grid-area: "pandemia"; }

.agamben {
  grid-area: "agamben"; }

.platon {
  grid-area: "platon"; }

.preciado {
  grid-area: "preciado"; }

.tituloProduct {
  display: flex;
  font-weight: bold;
  flex-direction: column;
  justify-content: left;
  text-align-last: center;
  font-family: "Lato", sans-serif;
  margin: 10px 10px; }

h3 {

  padding-bottom: 15px; }


.botonProd{

  background-color: black;
  border: 1px solid white;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;

}



/*MEDIA QUERIES PRODUCTOS*/
@media screen and (max-width: 600px) {
.productGrids {
display: grid;
grid-template-columns: 100%;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-areas: "foucault" "nietzsche" "pandemia" "agamben" "platon" "preciado";
height: 6000px;
width: 100vw;
justify-content: center;
align-content: space-around;
justify-items: center;
column-gap: 20px;
row-gap: 40px; } }

@media screen and (min-width: 600px) and (max-width: 900px) {
.productGrids {
display: grid;
grid-template-columns: 1fr  1fr;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-areas: "foucault" "nietzsche" "pandemia" "agamben" "platon" "preciado";
height: 2500px;
width: 100vw;
justify-content: center;
align-content: space-around;
justify-items: center;
column-gap: 20px;
row-gap: 40px; } }



.tituloDes {
    padding: 20px;
    padding-bottom: 30px; 
    color: #f3ca71;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  }
  

  .propuestagrids {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "estudiando" "nosotros4";
    height: 1000px;
    width: 100vw;
    justify-content: center;
    align-content: space-around;
    justify-items: center;
    column-gap: 20px;
    row-gap: 40px;     
  
  }
   
  
  .estudiando, .nosotros4 {
    display: flex;
    width: 25vw;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    font-family: "Noto Serif Display", serif; 
    background-color: #dbb377;
    padding-top: 40px;
  
  
  }
  
  .estudiando {
    grid-area: "estudiando"; }
  
  .nosotros4 {
    grid-area: "nosotros4"; }
  
  
  
  .tituloProduct {
    display: flex;
    font-weight: bold;
    flex-direction: column;
    justify-content: left;
    text-align-last: center;
    font-family: "Lato", sans-serif;
    margin: 10px 10px; }
  
  
  .tituloDes {
      padding: 20px;
      padding-bottom: 30px; 
      color: #f3ca71;
      font-size: 20px;
      font-family: 'Times New Roman', Times, serif;
      text-align: center;
    }
  

.sobrenosotros34 {
font-family: 'Times New Roman', Times, serif;
font-size: 30px;
color:#dbb377;
background-color: black;
text-align: center;
padding: 10px;



}





.flex-container{

display: flex;
flex-flow: row;
height: 450px;
flex-wrap:nowrap;
align-content: flex-start;
justify-content: center;
background-color: #f3ca71;
padding: 10px;
border: 3px solid black;



} 

.flex-container div{
background-color: #cc9a4e;
width: 100%;
margin: 10px;
text-align: center;
line-height: 75px;
font-size: 30px;
border: 2px solid #d24504;
font-size: 25px;
font-family: 'Times New Roman', Times, serif;
}

.grid-container{
  display: grid;
  background-color: aliceblue;
  grid-template-areas: 'header header header';
  grid-template-columns: auto auto auto;
  grid-template-rows: 300px 300px 300px;
  border: 2px solid black;
  height: auto;
  
  
  } 
  
  .grid-container div{
  background-color: #cc9a4e;
  border: 2px solid black;
  height: auto;
  
  }


.item1 {
    grid-area: header;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 45px;
    text-align: center;
    text-shadow: 2px 2px 2px #d24504;
    padding: 30px;
 }


.item2 {
background-image: url(../media/foucault2.jpg);
background-size: contain;
background-position: center;
}


.item2:hover {

transform: scale(1.3);

}

.item3 {
    background-image: url(../media/flyernietzsche.jpg);
    background-size: contain;
    background-position: center;



}


.item3:hover {
transform: scale(1.3);


}




 

.intro{
background-color: black;
font-family: 'Times New Roman', Times, serif;
font-size: 25px;
text-align: center;
color: white;
width: 100%;
height: 100%;
background-image: linear-gradient(rgb(98, 73, 34),#d24504 );
text-shadow: 5px 5px 5px black;

} 


.cursos {
    background-image: url(../media/barralateral.jpg);
    background-size: cover;
    background-position: cover;


}

.publicidad{
background-image: url(../media/flyernietzsche.jpg);
background-size:contain;
background-position: center;


} 


.container-fluid {
background-color: black;
font-size: 20px;
color: white;
border: 2px solid white;

}

.main-contacto {
    background-image: url(../media/bustos.jpg);
    background-size: cover; }
    .main-contacto .section-contacto {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      min-height: 90vh; }
      .main-contacto .section-contacto .section-contacto-formulario {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: white;
        background-color: black;
        padding: 30px 20px 30px 20px;
        align-items: center;
        width: 60vh; }
        .main-contacto .section-contacto .section-contacto-formulario .formulario-titulo {
          font-size: 3rem;
          padding: 10px;
          font-family: "Montserrat", sans-serif; }
        .main-contacto .section-contacto .section-contacto-formulario form {
          display: flex;
          flex-flow: column nowrap;
          padding: 15px;
          font-size: 1.5rem; }
          .main-contacto .section-contacto .section-contacto-formulario form input {
            border: 0;
            padding: 10px 10px 0px 0px;
            margin-bottom: 10px;
            border-bottom: 1px solid white;
            background-color: black;
            color: #cc9a4e; }
            .main-contacto .section-contacto .section-contacto-formulario form input:focus {
              outline: none;
              background-color: black;
              color: white; }
            .main-contacto .section-contacto .section-contacto-formulario form input::placeholder {
              color: white;
              font-family: "Mulish", sans-serif; }
          .main-contacto .section-contacto .section-contacto-formulario form textarea {
            margin: 15px 0px 10px 0px;
            font-family: "Mulish", sans-serif;
            border: none;
            border-bottom: 1px solid white; }
          .main-contacto .section-contacto .section-contacto-formulario form button {
            background-color: #d24504;
            border: 1px solid white;
            font-family: "Mulish", sans-serif;
            color: white;
            margin-top: 10px;
            padding: 5px;
            text-align: center; }

/*MEDIA QUERIES Contacto*/
@media screen and (max-width: 600px) and (max-width: 900px) {
  #main-contacto{
    background-image: url(../Media/bustos.jpg);
    background-size: cover; }
    .main-contacto .section-contacto {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      min-height: 90vh; }
      .main-contacto .section-contacto .section-contacto-formulario {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: white;
        background-color: black;
        padding: 30px 20px 30px 20px;
        align-items: center;
        width: 60vh; }
        .main-contacto .section-contacto .section-contacto-formulario .formulario-titulo {
          font-size: 3rem;
          padding: 10px;
          font-family: "Montserrat", sans-serif; }
        .main-contacto .section-contacto .section-contacto-formulario form {
          display: flex;
          flex-flow: column nowrap;
          padding: 15px;
          font-size: 1.5rem; }
          .main-contacto .section-contacto .section-contacto-formulario form input {
            border: 0;
            padding: 10px 10px 0px 0px;
            margin-bottom: 10px;
            border-bottom: 1px solid white;
            background-color: black;
            color: #cc9a4e; }
            .main-contacto .section-contacto .section-contacto-formulario form input:focus {
              outline: none;
              background-color: black;
              color: white; }
            .main-contacto .section-contacto .section-contacto-formulario form input::placeholder {
              color: white;
              font-family: "Mulish", sans-serif; }
          .main-contacto .section-contacto .section-contacto-formulario form textarea {
            margin: 15px 0px 10px 0px;
            font-family: "Mulish", sans-serif;
            border: none;
            border-bottom: 1px solid white; }
          .main-contacto .section-contacto .section-contacto-formulario form button {
            background-color: #d24504;
            border: 1px solid white;
            font-family: "Mulish", sans-serif;
            color: white;
            margin-top: 10px;
            padding: 5px;
            text-align: center; }
          
          
    }



p .sobrenosotros {
font-size: 30px;
text-align: right;
background-color: #cc9a4e;
color: white;
font-family: 'Times New Roman', Times, serif;

}


footer
{

height: 45px;
width: 100%;
background-color: #cc9a4e;
background-image: linear-gradient(rgb(119, 7, 7),#d24504 );
font-family: 'Times New Roman', Times, serif;
color: black;
text-shadow: 10px 10px 10px black;
font-size: 25px;
text-align: center;
padding-top: 20px;

} 

/*MEDIA QUERIES Footer*/
@media screen and (max-width: 600px) {
#footer{
  height: 45px;
  width: 100%;
  background-color: #cc9a4e;
  background-image: linear-gradient(rgb(119, 7, 7),#d24504 );
  font-family: 'Times New Roman', Times, serif;
  color: black;
  text-shadow: 10px 10px 10px black;
  font-size: 25px;
  text-align: center;
  padding-top: 20px;} 

}

@media screen and (min-width: 600px) and (max-width: 900px) {
  #footer{
    height: 45px;
    width: 100%;
    background-color: #cc9a4e;
    background-image: linear-gradient(rgb(119, 7, 7),#d24504 );
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-shadow: 10px 10px 10px black;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;} 
  
  }


